@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

@import '../../../../node_modules/bootstrap/scss/card';

.flex-1 {
  width: calc(100% / 7);
  /*flex-basis: calc(100% / 7) !important;
  flex-grow: 0;
  flex-shrink: 0;*/
}

.col-2-of-14{
  width: calc(100% / 7);
}

.flexybox-calendar {

  .flex-wrap .mat-card{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(100% / 7);
  }

  .flex-column {
    height: 100%;
    width: 100%;

    .card {
      background: $white;
    }
  }
}
